:root {
    font-size: 16px;
    font-family: "Open Sans";
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body {
    color: black;
    background-size: cover;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 16rem;
    background: rgb(180, 195, 216);
}
nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1C274C;
    background-size: cover;
    width: 16rem;
    height: 100vh;
    padding: 0;
    align-items: center;
}

nav ul {
    padding: 0;
    padding-bottom: 100px;
    width: 100%;
    list-style: none;
}

.svg-logo {
    /* background-color: #ececec; */
    margin-top: 4rem ;
    width: 80%;
}
.logo-elements {
    fill: #b6b6b6;
    /* color: red; */
}

nav ul li {
    display: flex;
    align-items: center;
    height: 3rem;
    margin: 1rem 0;
    padding: 0.5rem;
    transition: 600ms ease;
}

.svg-icon {
    width: 3rem;
    height: 100%;
}

.nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 600ms ease;

}

.link-text {
    display: block;
    color: #ffffff;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 1000;
}
.logout-button {
    margin-bottom: 2rem;
}
.logout-button:hover, .logout-button:hover .icon-outline,
li:hover, li:hover .icon-outline {
    fill: #ffffff;
    color: white;
    background-color: #141418;
}


.stream-frame {
    width: 720px;
    height: 520px;
    border-style: double;
    border-radius: 3rem;
    border-color: #141418;
    background-color: rgb(33, 66, 88);
}